In [1]:
import acquire

In [2]:
df = acquire.get_log_data()
df.head()

,Unnamed: 0,date,time,path,user_id,cohort_id,ip,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
0,0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1.0
1,1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1.0
2,2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1.0
3,3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1.0
4,4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,22.0,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,NaN,2.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  900223 non-null  int64
 1   date        900223 non-null  object
 2   time        900223 non-null  object
 3   path        900222 non-null  object
 4   user_id     900223 non-null  int64
 5   cohort_id   847330 non-null  float64
 6   ip          900223 non-null  object
 7   id          847330 non-null  float64
 8   name        847330 non-null  object
 9   slack       847330 non-null  object
 10  start_date  847330 non-null  object
 11  end_date    847330 non-null  object
 12  created_at  847330 non-null  object
 13  updated_at  847330 non-null  object
 14  deleted_at  0 non-null       float64
 15  program_id  847330 non-null  float64
dtypes: float64(4), int64(2), object(10)
memory usage: 109.9+ MB

In [4]:
null_props = df.isna().mean()
null_props

Unnamed: 0    0.000000
date          0.000000
time          0.000000
path          0.000001
user_id       0.000000
cohort_id     0.058755
ip            0.000000
id            0.058755
name          0.058755
slack         0.058755
start_date    0.058755
end_date      0.058755
created_at    0.058755
updated_at    0.058755
deleted_at    1.000000
program_id    0.058755
dtype: float64

In [5]:
# initial notes: 

# columns to change to numeric: dates (pd.to_datetime)

# columns to drop: 900_223 nulls (100%); 

# drop one or the other: either 'name' or 'slack', id/cohort id, 

# concat date and time and set as index

# columns to create: before, during, after to categorize access date WRT cohort timeline

In [6]:
# let's map the program type (DS, Web Dev, Full Stack) to the appropriate number

In [7]:
df = df.drop(columns=(['slack', 'id', 'deleted_at']))
df.head()

,Unnamed: 0,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,updated_at,program_id
0,0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
1,1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
2,2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
3,3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
4,4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,2.0

In [8]:
df.program_id.value_counts()

2.0    713365
3.0    103412
1.0     30548
4.0         5
Name: program_id, dtype: int64

In [9]:
df[df.program_id==1].head()
# Program_ID_1: Hampton is 'full_stack_PHP'

,Unnamed: 0,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,updated_at,program_id
0,0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
1,1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
2,2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
3,3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
30,30,2018-01-26,10:14:47,/,11,1.0,97.105.19.61,Arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0

In [10]:
df[df.program_id==1].end_date.max()

'2017-09-22'

In [11]:
df[df.program_id==2].head()
# Program_ID_2: Teddy is 'full_stack_java'

,Unnamed: 0,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,updated_at,program_id
4,4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,2.0
5,5,2018-01-26,09:56:41,javascript-i/loops,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,2.0
6,6,2018-01-26,09:56:46,javascript-i/conditionals,3,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,2.0
7,7,2018-01-26,09:56:48,javascript-i/functions,3,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,2.0
8,8,2018-01-26,09:56:59,javascript-i/loops,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,2.0

In [12]:
df[df.program_id==2].end_date.max()

'2021-10-01'

In [13]:
df[df.program_id==3].head()
# Program_ID_3 is 'data_science'

,Unnamed: 0,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,updated_at,program_id
326053,326053,2019-08-20,09:39:58,/,466,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,2019-08-20 14:38:55,2019-08-20 14:38:55,3.0
326054,326054,2019-08-20,09:39:59,/,467,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,2019-08-20 14:38:55,2019-08-20 14:38:55,3.0
326055,326055,2019-08-20,09:39:59,/,468,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,2019-08-20 14:38:55,2019-08-20 14:38:55,3.0
326056,326056,2019-08-20,09:40:02,/,469,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,2019-08-20 14:38:55,2019-08-20 14:38:55,3.0
326057,326057,2019-08-20,09:40:08,/,470,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,2019-08-20 14:38:55,2019-08-20 14:38:55,3.0

In [14]:
df[df.program_id==3].end_date.max()

'2021-09-03'

In [15]:
df[df.program_id==4].head()
# Program_ID_4 is 'front_end_programming'

,Unnamed: 0,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,updated_at,program_id
31627,31627,2018-03-22,19:01:49,/,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,2016-06-14 19:52:26,2016-06-14 19:52:26,4.0
31628,31628,2018-03-22,19:01:54,content/html-css,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,2016-06-14 19:52:26,2016-06-14 19:52:26,4.0
31629,31629,2018-03-22,19:01:54,content/html-css/gitbook/images/favicon.ico,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,2016-06-14 19:52:26,2016-06-14 19:52:26,4.0
31630,31630,2018-03-22,19:02:47,content/html-css,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,2016-06-14 19:52:26,2016-06-14 19:52:26,4.0
31631,31631,2018-03-22,19:02:52,content/html-css/introduction.html,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,2016-06-14 19:52:26,2016-06-14 19:52:26,4.0

In [16]:
df[df.program_id==4].end_date.max()

'2015-07-29'

In [17]:
(df.created_at == df.updated_at).value_counts()

True     795294
False    104929
dtype: int64

In [18]:
df[df.created_at==df.updated_at].head()

,Unnamed: 0,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,updated_at,program_id
0,0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
1,1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
2,2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
3,3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
4,4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,2.0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  900223 non-null  int64
 1   date        900223 non-null  object
 2   time        900223 non-null  object
 3   path        900222 non-null  object
 4   user_id     900223 non-null  int64
 5   cohort_id   847330 non-null  float64
 6   ip          900223 non-null  object
 7   name        847330 non-null  object
 8   start_date  847330 non-null  object
 9   end_date    847330 non-null  object
 10  created_at  847330 non-null  object
 11  updated_at  847330 non-null  object
 12  program_id  847330 non-null  float64
dtypes: float64(2), int64(2), object(9)
memory usage: 89.3+ MB

In [20]:
df.program_id = df.program_id.map({1.0:'full_stack_php', 2.0:'full_stack_java', 3.0:'data_science', 4.0:'front_end_programming'})
df.sample(20)

# s.map({'cat': 'kitten', 'dog': 'puppy'})

,Unnamed: 0,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,updated_at,program_id
702516,702516,2020-10-16,14:44:27,java-ii,719,NaN,67.11.117.74,NaN,NaN,NaN,NaN,NaN,NaN
36322,36322,2018-03-30,17:28:47,index.html,53,14.0,67.10.161.55,Lassen,2016-07-18,2016-11-10,2016-07-18 19:06:27,2016-07-18 19:06:27,full_stack_php
658211,658211,2020-09-03,00:24:53,appendix/further-reading/html-css/css-grid-additional-features,714,NaN,70.123.200.67,NaN,NaN,NaN,NaN,NaN,NaN
120754,120754,2018-09-07,10:00:04,toc,234,25.0,97.105.19.58,Wrangell,2018-07-23,2018-11-29,2018-07-23 15:02:25,2018-07-23 15:02:25,full_stack_java
809632,809632,2021-02-03,11:18:24,jquery/events/keyboard-events,834,134.0,67.11.50.23,Luna,2020-12-07,2021-06-08,2020-12-07 16:58:43,2020-12-07 16:58:43,full_stack_java
...,...,...,...,...,...,...,...,...,...,...,...,...,...
438203,438203,2020-01-24,12:02:12,java-ii/exceptions-and-error-handling,507,51.0,97.105.19.58,Deimos,2019-09-16,2020-02-27,2019-09-16 13:07:04,2019-09-16 13:07:04,full_stack_java
847829,847829,2021-03-16,08:30:00,/,816,28.0,76.187.230.164,Staff,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,full_stack_java
835535,835535,2021-03-04,11:39:39,fundamentals/modern-data-scientist.jpg,143,133.0,173.174.194.60,Easley,2020-12-07,2021-06-08,2020-12-07 15:20:18,2020-12-07 15:20:18,data_science
341717,341717,2019-09-05,07:27:47,3-sql/9.2-indexes,484,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,2019-08-20 14:38:55,2019-08-20 14:38:55,data_science
683332,683332,2020-09-28,09:52:55,mysql,673,58.0,76.185.237.215,Hyperion,2020-05-26,2020-11-10,2020-05-26 19:22:44,2020-05-26 19:22:44,full_stack_java

In [21]:
df.date = pd.to_datetime(df.date)

In [22]:
# set datetime index
df.set_index('date', inplace=True)
# drop 
df = df.drop(columns=['Unnamed: 0'])
df.head()

,time,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,updated_at,program_id
date,,,,,,,,,,,
2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_php
2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_php
2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_php
2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_php
2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,full_stack_java

## Initial thoughts:
- the traffic without a cohort attribution is most likely general web traffic, not from CodeUp students. If we are scanning for anomalies/outliers, this si where the malicious traffic will mot likely be coming from.
- programs 4 and 1 are the discontinued courses at codeup.
- make synthetic columns from path: program, module, etc to categorize the pages under programs and program modules